

h1, h2 {
    font-family: 'Rubik', sans-serif;
    color: #E34E45;
}

h2 {
    font-size: 1.25em;
}

p, .table {
    font-family: 'Roboto Mono', sans-serif;
}

body {
    background-color: #E1D7D4;
}

.container {
    width: 350px;
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    text-align: center;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.table, .available {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCC;
    color: #ADAAAA;
    cursor: pointer;
}

.reserved {
    color: #CCC;
    background-color: #ADAAAA;
    cursor: not-allowed;
}

/* form styling */

#form-container {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
    display: none;
}


form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px 40px;
    margin: 10px;
    width: 300px;
    border: none;
    border-bottom: 1px solid #CCC;
}

button {
    padding: 10px;
    border: none;
    background-color: #008000;
    width: 95%;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
    color: white;
    text-transform: uppercase;
}

.center-btn {
    margin-top: 20px;
    text-align: center;
}

.clear {
    float: right;
}

.clear:hover {
    cursor: pointer;
}


/* slightly bigger on desktop */

@media only screen and (min-width: 700px) {
    .container {
        width: 400px;
    }

    .table {
        width: 100px;
        height: 100px;
    }
}